<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>计时器</title>
    <script src="../include/react.js"></script>
    <script src="../include/react-dom.js"></script>
    <script src="../include/browser.min.js"></script>
</head>
<body>
<div id="root"></div>
<script type="text/babel">
    //生命周期挂钩的方法
    class Clock extends React.Component {
        constructor(props) {
            super(props);
            this.state = {date: new Date()};
        }
        componentDidMount() {
            //输出已经呈现给DOM后，该钩子就会运行，这是一个建立定时器的好地方
            //运用ES6中的箭头函数
            this.timerID=setInterval(
                    ()=>this.tick(),
                    1000
            );
            //上面的箭头函数意思与下面注释掉的这个一致
//                setInterval(function () {
//                    this.tick()
//                })
        }
        componentWillUnmount() {
            //我们将在componentWillUnmount()生命周期挂钩中拆下计时器
            clearInterval(this.timeID)
        }
        //更新变量date
        tick(){
            this.setState({
                date:new Date()
            });
        }
        //定义渲染函数render
        render() {
            return (
            <div>
            <h1>Hello, world!</h1>
            <h2>It is {this.state.date.toLocaleTimeString()}.</h2>
            </div>
        );
        }
    }
    ReactDOM.render(
    <Clock />,
            document.getElementById('root')
    )
</script>
</body>
</html>